<!DOCTYPE html>
<html  ng-app='emailApp'>
<head>
<base href="http://chefemail.dev/">
  <title>Chefemail</title>
  <%= include_gon %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
